:root {
    --verde-limon: #06C50A;
    --verde-limon-second: #5AF95E;
    --verde-rgba-uno: rgb(90,246,94,.85);
    --morado-uno: #4E015F;
    --morado-dos: #2f0049;
    --morado-tres: #6D4087;
    --morado-cuatro: #5D2E77;
    --morado-rgba-uno: rgba(78,1,95,.93);
    --rosa-uno: #FFF0FF;
}